<section class="container-fluid p-0">
    <section class="btn-caja" (click)="irAtras()">
        <div class="slider__btn slider__btn--left" id="btn-left">
            <i class="bi bi-chevron-compact-left"></i>
        </div>
    </section>
    <section class="btn-caja-rigth" (click)="irAdelante()">
        <div class="slider__btn slider__btn--right" id="btn-right">
            <i class="bi bi-chevron-compact-right"></i>
        </div>
    </section>

    <section class="container-slider ">
        <article class="slider " id="slider">
            <div class="slider__section">
                <img src="
                https://destinonegocio.com/wp-content/uploads/2015/08/ico-destinonegocio-prendas-de-algodon-istock-getty-images.jpg
                " class="slider__img" alt="..">
                <h2>Nuevos motores Toyota</h2>
                <p>Dos alternativas diesel con turbo de geometría variable, 1GD (2.8 L) y 2GD (2.4 L)</p>
            </div>
            <div class="slider__section">
                <img src="https://laopinion.com/wp-content/uploads/sites/3/2020/03/shutterstock_1562421493-e1585714219105.jpg?quality=80&strip=all&w=1200" class="slider__img" alt="..">
                <h2 id="text"> 1Nuevos motores Toyota</h2>
                <p>Dos alternativas diesel con turbo de geometría variable, 1GD (2.8 L) y 2GD (2.4 L).</p>
            </div>
            <div class="slider__section">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTrIT8APV1U4TYUbZRYH1E6yEzeQ-nNljvdXO_hMsmqI1ouEkrN6xirshZsGqYW9ur6GrA&usqp=CAU" class="slider__img" alt="..">
                <h2>Suspensión mejorada</h2>
                <p>Mayor confort de marcha, estabilidad y capacidad Off Road.</p>
            </div>
            <div class="slider__section">
                <img src="https://media.fashionnetwork.com/cdn-cgi/image/fit=contain,width=1000,height=1000/m/3bb2/3127/87a9/6520/bea5/06a2/563d/37c1/e011/e927/e927.jpg" class="slider__img" alt="..">
                <h2>Transmisión automática</h2>
                <p>Posibilidad de elección de caja automática de manejo.</p>
            </div>
            <div class="slider__section">
                <img src="https://s1.eestatic.com/2021/06/01/como/585702661_186809520_1706x960.jpg" class="slider__img" alt="..">
                <h2>Transmisión manual</h2>
                <p>Posibilidad de elección de caja automática de manejo.</p>
            </div>
            <div class="slider__section">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQUvdZ7hUAOpx1g2bvb-sZf2W3tEWxvtZ73lsQJ3gI-1dMWinCmJkyiAJffHZCF73zG5Cc&usqp=CAU" class="slider__img" alt="..">
                <h2>Nuevos motores Toyota</h2>
                <p>Dos alternativas diesel con turbo de geometría variable, 1GD (2.8 L) y 2GD (2.4 L)</p>
            </div>

            <div class="slider__section">
                <img src="https://img.lovepik.com/free-png/20210918/lovepik-shopping-bag-png-image_400256468_wh1200.png" class="slider__img" alt="..">
                <h2>Nuevos motores Toyota</h2>
                <p>Dos alternativas diesel con turbo de geometría variable, 1GD (2.8 L) y 2GD (2.4 L)</p>
            </div>
            <div class="slider__section">
                <img src="https://cdn.w600.comps.canstockphoto.es/siluetas-de-bolsas-de-compras-eps-vectorial_csp49534343.jpg" class="slider__img" alt="..">
                <h2>Nuevos motores Toyota</h2>
                <p>Dos alternativas diesel con turbo de geometría variable, 1GD (2.8 L) y 2GD (2.4 L)</p>
            </div>

        </article>

    </section>


</section>