img {
    width: 268px;
    height: 146px;
}

* {
    box-sizing: border-box;
}

.container-slider {
    width: 100%;
    max-width: 1440px;
    margin: auto;
    overflow: hidden;
    position: relative;
    z-index: 10;
    .slider {
        display: flex;
        width: 190%;
        margin-right: 50px;
        margin-left: -13%;
        .slider__section {
            width: 100%;
            background: transparent;
            display: flex;
            flex-direction: column;
            align-items: center;
            .slider__img {
                border-radius: 10px;
                display: block;
                width: 268px;
                height: 146px;
                object-fit: cover;
            }
            h2 {
                font-size: 20px;
                font-weight: 600;
                color: rgb(55, 55, 55);
                letter-spacing: -1.5px;
                width: 90%;
                margin-top: 20px;
            }
            p {
                font-size: 16px;
                font-weight: normal;
                margin-top: 37px;
                width: 88%;
                color: rgb(85, 85, 85);
            }
        }
    }
}

.btn-caja {
    position: absolute;
    width: 120px;
    height: 80%;
    cursor: pointer;
    background-color: rgb(77, 77, 70);
    z-index: 50;
    background: rgb(232, 238, 238);
    background: linear-gradient(90deg, hsla(180, 15%, 92%, 0.965) 22%, hsla(180, 4%, 91%, 0.659) 72%, hsla(168, 7%, 86%, 0.384) 83%, hsla(168, 4%, 75%, 0.027) 100%);
    opacity: 80%;
}

.btn-caja:hover {
    color: white;
    background: rgb(94, 92, 92);
    background: linear-gradient(90deg, rgba(94, 92, 92, 0.9640231092436975) 37%, rgba(231, 233, 233, 0.6587009803921569) 72%, rgba(218, 223, 222, 0.3841911764705882) 83%, rgba(188, 193, 192, 0.23853291316526615) 100%);
}

.btn-caja-rigth {
    position: absolute;
    background-color: yellow;
    right: 0;
    left: 95.5%;
    top: 10%;
    transform: translate(-50%);
    width: 120px;
    height: 80%;
    opacity: 80%;
    cursor: pointer;
    background: rgb(232, 238, 238);
    background: linear-gradient(90deg, rgba(232, 238, 238, 0.17130602240896353) 7%, rgba(222, 227, 227, 0.6587009803921569) 25%, rgba(218, 223, 222, 0.8407738095238095) 83%, rgba(188, 193, 192, 1) 100%);
    z-index: 50;
}

.btn-caja-rigth:hover {
    color: white;
    background: rgb(94, 92, 92);
    background: linear-gradient(270deg, rgba(61, 61, 61, 0.823) 37%, rgba(231, 233, 233, 0.583) 72%, rgba(218, 223, 222, 0.3841911764705882) 83%, rgba(188, 193, 192, 0.166) 100%);
}

.slider__btn {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 15%;
    transform: translate(-50%);
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    z-index: 50;
    i {
        font-size: 40px;
    }
}

.slider__btn--left {
    left: 25%;
}

.slider__btn--right {
    right: 10%;
}

@media only screen and (max-width: 1300px) {
    .container-slider {
        .slider {
            width: 230%;
        }
    }
    .btn-caja {
        width: 190px;
    }
    .btn-caja-rigth {
        left: 94.1%;
        width: 150px;
    }
}

@media only screen and (max-width: 1120px) {
    .container-slider {
        .slider {
            width: 290%;
        }
    }
    .btn-caja {
        width: 190px;
    }
    .btn-caja-rigth {
        left: 91%;
        width: 170px;
    }
}

@media only screen and (max-width: 842px) {
    .container-slider {
        .slider {
            width: 400%;
        }
    }
    .btn-caja {
        width: 190px;
    }
    .btn-caja-rigth {
        left: 91%;
        width: 170px;
    }
}

@media only screen and (max-width: 620px) {
    .container-slider {
        .slider {
            width: 400%;
        }
    }
    .btn-caja {
        width: 190px;
    }
    .btn-caja-rigth {
        left: 91%;
        width: 170px;
    }
}

@media only screen and (max-width: 600px) {
    .btn-caja {
        background: transparent !important;
        max-height: 265px;
        max-width: 100px;
        div {
            top: 25%;
            color: rgb(172, 165, 157);
            i {
                line-height: 2.5;
            }
        }
    }
    .btn-caja-rigth {
        background: transparent !important;
        left: 88%;
        max-height: 250px;
        max-width: 100px;
        .slider__btn--right {
            top: 25%;
            right: 0;
            color: rgb(172, 165, 157);
            i {
                line-height: 2.5;
            }
        }
    }
    .btn-caja:hover {
        color: white;
        background: transparent !important;
        //background: linear-gradient(90deg, rgba(94, 92, 92, 0.9640231092436975) 37%, rgba(231, 233, 233, 0.6587009803921569) 72%, rgba(218, 223, 222, 0.3841911764705882) 83%, rgba(188, 193, 192, 0.23853291316526615) 100%);
    }
    .container-slider {
        height: auto;
        .slider {
            display: flex;
            width: 1000%;
            height: auto;
            margin-right: 50px;
            margin-left: -138%;
            .slider__section {
                .slider__img,
                h2,
                p {
                    width: 75%;
                    height: auto;
                }
                h2 {
                    margin-top: 20px;
                    margin-bottom: 20px;
                }
                p {
                    margin-top: 0;
                }
            }
        }
    }
}

@media only screen and (max-width: 550px) {
    .btn-caja {
        height: 50%;
    }
    .btn-caja-rigth {
        left: 89%;
        height: 50%;
    }
}

@media only screen and (max-width: 450px) {
    .btn-caja-rigth {
        left: 88%;
    }
}

@media only screen and (max-width: 412px) {
    .btn-caja {
        height: 40%;
    }
    .btn-caja-rigth {
        left: 86%;
        width: 20%;
        height: 40%;
    }
}

//----------------------------------------------------------------------------
@media only screen and (min-width: 1440px) {
    .btn-caja-rigth {
        max-width: none;
        left: 96.3%;
    }
    .container-slider {
        max-width: none;
    }
}