<section class="myCars">

    <article class="card pb-1" *ngFor="let items of prendas; let i=index">
        <!-- {{items | json}} -->
        <aside class="card-header text-center">
            <img [src]="items.img" alt="..." [routerLink]="'/prenda/'+items.id">
        </aside>
        <aside class="card-body d-flex flex-column px-3 ">
            <article class="d-flex justify-content-between ">
                <span class="card-text ">$ {{items.price}}  </span>
                <span class="text-warning fs-2"><i class="bi bi-star-fill"></i> <i class="bi bi-star-half"></i> <i class="bi bi-star"></i></span>
                <span class="text-danger fs-2"><i class="bi bi-suit-heart-fill"></i> </span>
            </article>

            <h4 class="fw-bold">{{items.tittle}}</h4>
            <span class="card-text text-data"> {{items.data}} </span>
        </aside>
        <aside class="card-footer px-3">
            <span class="me-auto text-success card-add">  <i class="bi bi-cart-plus-fill"></i></span>

            <button class="btn-black" [routerLink]="'/prenda/'+items.id">Ver Modelo <i class="bi bi-arrow-right-circle"></i></button>
        </aside>
    </article>

</section>