i {
    cursor: pointer;
}

.card-add {
    font-size: 30px;
    i {
        color: #34aa0a;
    }
    i:hover {
        color: rgb(68, 255, 0);
    }
}

.myCars {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    .card {
        border: none;
        width: auto;
        min-width: 240px;
        max-width: 300px;
        margin-bottom: 75px;
        box-shadow: 1px 1px 15px 1px #1403032b;
        border-radius: 4%;
        aside {
            // max-width: 250px;
            border-bottom: 5px;
            //border: 1px solid blue;
            img {
                cursor: pointer;
                width: 100%;
                max-height: 200px;
                // border: 1px solid red;
                border-radius: 25px;
            }
        }
        .card-body {
            padding: 0px;
            padding-bottom: 5px;
            h5 {
                font-size: 28px;
                font-weight: 600;
            }
            span {
                font-size: 14px;
                font-weight: normal;
                color: rgb(25, 25, 25);
                i {
                    font-size: 25px;
                }
            }
            .card-text {
                font-size: 18px
            }
            h4 {
                font-size: 21px;
            }
            .text-data {
                font-size: 15px;
            }
        }
        .card-footer {
            display: flex;
            justify-content: center;
            padding: 0;
            background-color: transparent;
            border-top: none;
            height: 38px;
        }
        .btn-black {
            display: none;
        }
    }
    .card {
        .btn-black {
            display: block;
            color: white;
            background-color: #3948cab4;
            cursor: pointer;
            padding: 5px 25px;
            border-radius: 18px;
        }
        .btn-black:hover {
            background-color: #330991;
        }
    }
}

@media only screen and (max-width: 698px) {
    .myCars {
        display: flex;
        justify-content: center;
        cursor: pointer;
    }
    .card:hover {
        .btn-black {
            display: none;
        }
    }
}