.page-footer {
    background-color: #93d7ff;
    padding-top: 30px;
    padding-bottom: 5px;
    margin-right: 0px !important;
    article {
        width: auto;
        margin-left: auto;
        margin-right: auto;
        h4 {
            font-size: 30px;
            font-weight: bold;
            color: white;
        }
    }
    p:first-child {
        background-color: blue;
    }
    article:nth-child(1) {
        //background-color: red;
    }
    article:nth-child(2) {
        //background-color: yellow;
    }
    article:nth-child(3) {
        //background-color: green;
    }
}

.derechos-reservado {
    padding: 20px 0 20px 0;
    background-color: rgba(10, 10, 160, 0.664);
    color: rgb(204, 194, 194);
    font-style: italic;
}