<section class="row page-footer">
    <article class="col-12 col-md-4">
        <h4>Contactenos:</h4>
        <p>TextilOLP@gmail.com</p>
        <p>Telefono: +549 11 4439-4153</p>
        <p>horario de Atencion: lunes a viernes - 9:hs a 21hs</p>
    </article>
    <article class="col-12 col-md-4">
        <h4>Blog:</h4>
        <p>Redes Sociales: Whatsapp, Facebook..</p>
        <p>Venta de Ropa Textil</p>
    </article>
    <article class="col-12 col-md-4">
        <h4>Información:</h4>
        <p>Tu cuenta</p>
        <p>Termino y condiciones</p>
    </article>
</section>
<section class="derechos-reservado">
    <article class="text-center">
        Copyright © Tienda Virtual @2021 Todos los derechos reservados <strong>Textil-OLP</strong>. Diseñada por haguilerts@...com

    </article>
</section>