img {
    width: 100%;
    height: 100%;
}

.carrucel {
    position: relative;
    background-color: rgb(247, 247, 247);
    padding: 43px 0;
}

.card {
    width: auto;
    max-width: 300px;
    min-width: 300px;
    height: 170px;
    display: flex;
    flex-direction: row;
    box-shadow: 1px 1px 5px 3px rgba(212, 212, 213, 0.707);
    position: relative;
    cursor: pointer;
    margin-bottom: 1em;
    .descuento {
        position: absolute;
        width: 50%;
        height: 100%;
        background: rgba(228, 10, 10, 0.85);
        clip-path: polygon(0 0, 42% 32%, 42% 0);
        /* clip-path: polygon(0 0, 0 32%, 42% 0); */
        left: 79%;
        p {
            text-align: center;
            padding-top: 5px;
            width: 45%;
            height: 35%;
            font-weight: bold;
            color: aliceblue;
            transform: rotate(45deg);
        }
    }
    article {
        width: 50%;
    }
    .data {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        h2 {
            align-items: flex-end;
            font-size: 1.5em;
            line-height: 25px;
            font-weight: bold;
            color: red;
        }
        p {
            font-style: italic;
            margin-top: 12px;
            //text-align: center;
            font-size: 14px;
            width: 100%;
            color: rgba(19, 16, 16, 0.699);
            i {
                color: chartreuse;
                font-size: 25px;
                //margin-right: auto;
            }
            span {
                font-size: 19px;
                line-height: 23px;
                //letter-spacing: 0.048em;
                font-weight: 900;
                small {
                    //letter-spacing: 0.01em;
                    //line-height: 0px;
                    font-size: 0.7em;
                    font-weight: 100;
                    text-decoration: line-through;
                }
            }
        }
        p:last-child {
            display: flex;
            justify-content: space-around;
        }
        .subData {
            width: 100%;
            margin-left: 10%;
            text-align: start;
        }
    }
    article:last-child {
        img {
            padding: 1px;
            width: 100%;
            height: 100%;
        }
    }
}

.card:hover {
    /* max-width: 250px;
    height: 120px; */
    max-width: 310px;
    height: 175px;
}