<section class="col-12">
    <article class="d-flex align-items-start">
        <div class="menu-Left nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">

            <a class="nav-link dropdown-toggle t-decoration {{classActive[0]}}" data-bs-toggle="collapse" data-bs-target="#link-Talla" (click)="activar('talla')">Talla</a>

            <div class=" link-Talla collapse col-12" id="link-Talla">
                <ul class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
                    <li><a class="nav-link dropdown-item p-2" data-bs-toggle="pill">1</a></li>
                    <li><a class="nav-link dropdown-item p-2" data-bs-toggle="pill">2</a></li>
                    <li><a class="nav-link dropdown-item p-2" data-bs-toggle="pill">3</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="nav-link dropdown-item p-2" data-bs-toggle="pill">4</a></li>
                </ul>
            </div>
            <a class="nav-link t-decoration {{classActive[1]}}" (click)="activar('prenda')" data-bs-toggle="pill">Tipo Prenda</a>
            <a class="nav-link t-decoration {{classActive[2]}}" (click)="activar('temporada')" data-bs-toggle="pill">Temporada</a>
            <a class="nav-link t-decoration {{classActive[3]}}" (click)="activar('oferta')" data-bs-toggle="pill">Ofertas</a>
        </div>
    </article>
</section>