.menu-left {
    background-color: honeydew;
}

a {
    cursor: pointer;
    width: 100%;
    font-size: 21px;
}

.nav {
    width: 100%;
}

.t-decoration {
    text-decoration: none !important;
}

.t-decoration:hover {
    font-weight: bold;
}

.link-Talla {
    background: rgb(194, 192, 192);
    ul {
        /* padding: 0px; */
        list-style: none;
        li {
            text-align: end;
        }
    }
}

section {
    article {
        .menu-left {}
    }
}