<section class="principal-nosotros">
    <div></div>
    <h1>¿Quienes somos</h1>
    <article class="caja" *ngFor="let item of [1,2,3,4,5,6,7,8,9,10]">
        <h2>¿Quienes somos?</h2>

        <section>
            <img src="../../../assets/nosotros/img-nosotros.jpg" alt="..">

        </section>

        <aside>
            <section class="text">
                <h3>Somos <br> Grupo Textil Unidos</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente sunt non tempora repellendus! Odio voluptatem labore voluptatibus quam, obcaecati in culpa, consectetur enim animi minima tempore minus perspiciatis nesciunt officia!</p>
            </section>
        </aside>
    </article>
</section>
<section>

</section>