.principal-nosotros {
    position: relative;
    width: auto;
    div {
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: url("../../../assets/nosotros/img-nosotros.jpg");
        background-attachment: fixed;
        background-repeat: repeat-y;
        background-size: 100%;
        background-position-y: -100px;
        filter: blur(2px);
        filter: brightness(.3);
        z-index: -1;
    }
    h1 {
        z-index: 2;
        color: aliceblue;
        /*  position: absolute;
        left: 10%;
        top: 20px; */
        text-align: center;
        font-size: 32px;
        letter-spacing: 0.018em;
        font-weight: 800;
        font-style: normal;
        font-family: 'Encanto', cursiva;
        font-family: 'Merienda', cursiva;
    }
    article {
        position: relative;
        top: 15px;
        height: 90vh;
        width: 100%;
        display: flex;
        margin: 0;
        justify-content: space-between;
        //  background-color: bisque;
        z-index: 10;
        h2 {
            color: red;
            position: absolute;
            left: 20%;
            top: 20px;
            font-size: 32px;
            letter-spacing: 0.018em;
            font-weight: 800;
            font-style: normal;
            font-family: 'Encanto', cursiva;
            font-family: 'Merienda', cursiva;
        }
        section {
            width: 45%;
            height: 100%;
            //border: 1px solid red;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            z-index: 1;
            img {
                // padding: 10px 10px 10px 10px;
                width: 80%;
                box-shadow: 0 0 0 1px rgb(204, 204, 204), 0 -20px 0 -10px #494cc9, 20px 0 0 -10px rgb(250, 52, 92), 0 20px 0 -10px rgb(233, 67, 55), -20px 0 0 -10px rgb(80, 90, 228);
            }
        }
        aside {
            z-index: 1;
            width: 55%;
            height: 100%;
            //background-color: rgba(43, 43, 255, 0.479);
            // background: rgb(2,0,36);
            /*  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(255, 255, 255, 0.055) 0%, rgba(205, 218, 248, 0.281) 5%, rgba(117, 117, 234, 0.445) 26%, rgba(50, 50, 214, 0.527) 60%, rgba(20, 49, 239, 0.788) 87%, rgba(41, 64, 128, 0.884) 100%); */
            /*   margin: 5em 5em 5em 0; */
            color: aliceblue;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .text {
                width: 90%;
                height: 60%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                padding: 10px 10px 10px 25px;
                color: bisque;
                background: rgba(44, 34, 241, 0.911);
                border-radius: 25px 5px 25px 5px;
                align-items: baseline;
                h3 {
                    font-size: 46px;
                    line-height: 49px;
                    letter-spacing: 0.031em;
                    font-weight: 500;
                    font-style: normal;
                    font-family: 'Merienda', cursiva;
                }
            }
        }
    }
    //azul
    article:nth-child(even) {
        flex-direction: row-reverse;
        background: rgb(15, 9, 105);
        background: linear-gradient(90deg, rgba(15, 9, 105, 0.945) 0%, rgba(84, 77, 209, 0.884) 17%, rgba(214, 214, 234, 0.39) 37%, rgba(255, 255, 255, 0.13) 49%, rgba(221, 221, 234, 0.418) 61%, rgba(60, 94, 219, 0.856) 84%, rgba(9, 30, 86, 0.938) 100%);
        h2 {
            left: auto;
            right: 20%;
        }
        aside section {
            background: rgb(15, 9, 105);
            background: radial-gradient(circle, rgba(15, 9, 105, 1) 0%, rgba(83, 77, 209, 1) 17%, rgba(214, 214, 234, 1) 37%, rgba(255, 255, 255, 1) 49%, rgba(221, 221, 234, 1) 61%, rgba(60, 95, 219, 1) 84%, rgba(9, 29, 86, 1) 100%);
        }
    }
    //rojo
    article:nth-child(5n) {
        background: rgb(249, 249, 249);
        background: linear-gradient(90deg, rgba(249, 249, 249, 0.144) 0%, rgba(242, 130, 120, 0.349) 16%, rgba(246, 88, 73, 0.507) 32%, rgba(255, 32, 2, 0.671) 51%, rgba(227, 90, 66, 0.466) 68%, rgba(246, 136, 128, 0.295) 87%, rgba(254, 254, 254, 0.116) 100%);
    }
}