input {
    display: none;
}

.container {
    width: 75%;
}

.opction {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(230, 230, 230);
}

.active {
    background-color: rgb(230, 230, 230);
}

h1 {
    margin-top: 85px;
    margin-bottom: 85px;
    line-height: 42px;
}

.dropdown-menu {
    box-shadow: rgba(191, 191, 191, 0.349) 1px 1px 25px 5px;
    padding: 1px 0;
    border-radius: 0px 0px 15px 15px;
    li {
        box-shadow: rgba(191, 191, 191, 0.349) 0px 1px 0px;
    }
    li:last-child {
        box-shadow: none;
    }
    li:last-child:hover {
        background-color: yellow;
    }
}

.cards {
    padding-top: 40px;
}

li {
    cursor: pointer;
}

li a:hover,
li a:focus,
li a:active {
    background-color: rgb(237, 237, 237);
    color: black;
}

@media only screen and (max-width: 455px) {
    .container {
        width: 95% !important;
    }
}

@media only screen and (max-width: 657px) {
    h1 {
        margin-top: 43px;
        margin-bottom: 38px;
    }
}

// -------------------------------- "md" table -------------------------------------
@media only screen and (max-width: 991px) {
    h1 {
        font-size: 35px;
        font-weight: bold;
    }
}

@media only screen and (max-width: 1063px) {
    .opction-select-lg {
        display: none !important;
    }
    .opction-select-md {
        display: block !important;
    }
}

@media only screen and (max-width: 1365px) {
    .option-ul {
        width: 100% !important;
    }
}

// ================================ "lg" Laptps/desktops Large devices  ================================
@media only screen and (min-width: 992px) {
    h1 {
        font-size: 50px;
        font-weight: bold;
    }
    .opction-select-lg {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: .5em;
        .option-ul {
            border: none !important;
            display: flex;
            justify-content: space-between;
            width: 75%;
            strong {
                line-height: 40px;
            }
            li {
                display: flex;
                justify-content: center;
                a {
                    color: rgb(55, 55, 55);
                    cursor: pointer;
                    padding: 8px 18px 9px 19px;
                    border-radius: 18px;
                }
                .active {
                    color: rgb(0, 0, 0);
                    background-color: rgb(230, 230, 230);
                }
            }
            li a:hover,
            li a:focus,
            li a:active {
                box-shadow: 1px 1px 1px 1px rgba(230, 230, 230, 0.72);
                background-color: white;
                color: black;
                border-radius: 18px;
            }
        }
    }
    .opction-select-md {
        display: none;
    }
}