.sidebar-nav {
    .navbar {
        height: auto;
        background-color: rgba(245, 169, 169, 0.733);
        .container {
            .navbar-toggler {
                display: none;
            }
            .offcanvas {
                width: 90%;
                border: none;
                transition: 5s;
                .offcanvas-body {
                    .offcanvas-header {
                        display: none;
                    }
                    ul {
                        flex-direction: row;
                        li {
                            a {
                                font-size: 26px;
                                text-decoration: none;
                                display: block;
                                padding: 6px 10px;
                                transition: 50s;
                                span {
                                    font-size: 18px;
                                    position: relative;
                                    top: -4px;
                                    transition: 0.5s;
                                }
                            }
                            a:hover {
                                background-color: #eeeeee;
                                border-radius: 4px;
                                span {
                                    padding-left: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.sidebar-nav .dropdown-toggle::after {
    position: relative;
    top: 3px;
}


/* 
.sidebar-nav ul li a {
    font-size: 26px;
    text-decoration: none;
    display: block;
    padding: 6px 10px;
    transition: 50s;
}

.sidebar-nav ul li a:hover {
    background-color: #eeeeee;
    border-radius: 4px;
}

.sidebar-nav .offcanvas {
    width: 90%;
    border: none;
    transition: 5s;
}

.sidebar-nav .offcanvas ul li a span {
    font-size: 18px;
    position: relative;
    top: -4px;
    transition: 0.5s;
}

.sidebar-nav .offcanvas.show ul li a:hover span {
    padding-left: 10px;
}

.sidebar-nav .dropdown-toggle::after {
    position: relative;
    top: 3px;
} */