<div class=" row col-12">
    <div class="sidebar-nav">
        <nav class="navbar navbar-dark bg-danger fixed-top">
            <div class="container">
                <div class="logo">

                </div>
                <!-- Mobile Menu Toggle Button -->
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">            
                    <span class="navbar-toggler-icon"></span>       menu   
                </button>
                <!-- Menus List -->
                <div class="bg-light offcanvas offcanvas-start offcanvas-transition-duration shadow" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">

                    <div class="offcanvas-body">
                        <div class="offcanvas-header">
                            <!-- <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5> -->
                            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                        </div>
                        <ul class="navbar-nav">
                            <li>
                                <a href="#"> <span class="item-text">Home</span></a>
                            </li>
                            <li><a href="#"><span class="item-text">Contact Us</span></a></li>
                            <li><a href="#"><span class="item-text">About Us</span></a></li>
                            <li>
                                <a href="#"> <span class="item-text">Products</span></a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>


                        </ul>
                    </div>

                </div>

                <!--  <div class="btn-group ">
                    <a href="#" class="dropdown-toggle text-white text-decoration-none" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="textnone">User Name</span>
                    </a>
                    <ul class="bg-warning  dropdown-menu dropdown-menu-end">
                        <li><button class="dropdown-item" type="button">Change Password</button></li>
                        <li><button class="dropdown-item" type="button">Edit Profile</button></li>
                        <li><button class="dropdown-item" type="button">Settings</button></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><button class="dropdown-item" type="button">Sign out</button></li>
                    </ul>
                </div>
 -->
            </div>
        </nav>
    </div>
</div>