<!-- <app-top-register></app-top-register> -->
<!-- <app-head></app-head> -->
<app-menu></app-menu>
<router-outlet></router-outlet>
<app-footer></app-footer>
<section class="whatsapp">
    <article>
        <a href="https://api.whatsapp.com/send?phone=+5491144394153&text='Hola buenos dias, quisiera cosnultar sobre el productos, me puede brindar mas informacion. Gracias!'" class="float" target="_blank">
            <i class="fa fa-whatsapp my-float"></i>
        </a>
        <!--  <i class="bi bi-whatsapp"></i> -->
    </article>
</section>