.whatsapp {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 95;
    article {
        //padding: 5px;
        margin: 5px;
        background-color: green;
        border-radius: 50%;
        i {
            font-size: 62px;
            color: white;
            cursor: pointer;
            padding: 10px;
        }
    }
}