<section class="container-fluid p-0">
    <div class="row col-12 p-0 m-0">

        <article *ngIf="mostrar" class="menuLeft col-4 col-lg-2 p-0">
            <app-menu-left></app-menu-left>
        </article>

        <article class="main col bg-light">
            <!--  <div class="On-Off mb-2" (click)="OnOff()">
                <i class="bi bi-arrow-left-right" style="font-weight: bold !important; position: absolute;
                z-index: 5;"></i>
            </div> -->
            <app-carrucel></app-carrucel>
        </article>
        <article class="pt-4">
            <h2> Ofertas Semanasles</h2>
            <app-ofertas></app-ofertas>
        </article>
        <article>
            <app-modelos></app-modelos>
        </article>

    </div>
</section>
<!-- https://pixabay.com/photos/search/paisajes/ -->