.On-Off {
    font-size: x-large;
    .bi {
        cursor: pointer;
        font-weight: bold !important;
        border-radius: 50%;
        padding: .3em;
        color: rgb(6, 82, 95);
        background: rgb(172, 171, 171);
    }
}

.On-Off:focus {
    .bi {
        color: rgb(3, 46, 53);
        background: rgb(172, 171, 171);
    }
}