.list-top_right {
    list-style-type: none;
    font-weight: bold;
    span {
        cursor: pointer;
    }
}

.dropdown-item {
    cursor: pointer;
}

.comprar {
    padding-left: 20px;
    span:hover {
        padding: 3px 10px;
        border-radius: 10px;
        border: 1px solid white;
    }
}

.list-top_right:hover {
    text-decoration: underline;
}

section {
    background-color: rgba(205, 92, 92, 0.747);
    article {
        padding: .55% 0;
        color: lavender;
    }
}


/* : ; */