<section class="d-flex justify-content-lg-between px-4" style="height: 30px;">
    <article class="idioma">
        <div class="dropdown">
            <a class=" dropdown-toggle" style="color: lemonchiffon !important;" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-globe2"></i> Idiona
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item">Español</a></li>
                <li><a class="dropdown-item">ingles</a></li>
                <li><a class="dropdown-item">Portugues</a></li>
            </ul>
        </div>
    </article>
    <article class="list">
        <ul class="d-flex justify-content-around align-center">
            <li class="list-top_right"><span> Registar <i class="bi bi-journal-plus"></i></span> </li>
            <li class="list-top_right"><span style="padding: 10px;">|</span></li>
            <li class="list-top_right"><span>Entar <i class="bi bi-arrow-bar-right"></i></span></li>
            <li class="list-top_right comprar"><span> Comprar <i class="bi bi-cart-plus-fill"></i></span></li>
        </ul>
    </article>
</section>