<!-- <div id="content-wrapper">
    <div class="column">
        <img #imgPrincipal id=imgPrincipal src="./../../../../assets/Prendas/bolsas/bolsa_2.jpg">

        <div id="slide-wrapper">
            
            <i id="slideLeft" (click)="atras()" class="bi bi-chevron-double-left sliderAll" style="color: black;"></i>
            <div #slider class="slider">
                <img class="fil-img active" src="./.././../../../../assets/Prendas/bolsas/bolsa_1.jpg">
                <img class="fil-img" src="./.././../../../../assets/Prendas/bolsas/bolsa_2.jpg">
                <img class="fil-img" src="./.././../../../../assets/Prendas/pecheras/pechera_1.jpg">
                <img class="fil-img" src="./.././../../../../assets/Prendas/pecheras/pechera_2.jpg" alt="...">
                <img class="fil-img" src="./.././../../../../assets/Prendas/sombresos/sombrero.jpeg" alt="...">
                <img class="fil-img" src="./.././../../../../assets/Prendas/sombresos/sombrero1.jpeg" alt="...">
                <img class="fil-img" src="./.././../../../../assets/Prendas/sombresos/sombrero.jpeg" alt="...">
            </div>
            <i id="slideRight" class="bi bi-chevron-double-right sliderAll" (click)="adelante()" style="position: relative; color: black;"></i>
            
        </div>
    </div>
</div>
 -->

<div id="content-wrapper">

    <div class="column">
        <img #imgPrincipal id=imgPrincipal src="{{imgs[0]}}">
        <div id="slide-wrapper">
            <img (click)="btn_left()" id="slideLeft" class="arrow" src="./../assets/arrow-left.png">

            <div #Sliderr id="Sliderr" class="slider">
                <img (mouseover)="mouseover($event)" (mouseleave)="activar($event)" class="" *ngFor="let items of imgs" src="{{items}}" alt="...">
                <!--  <img (mouseover)="mouseover($event)" (mouseleave)="activar($event)" class="" src="./.././../../../../assets/Prendas/bolsas/bolsa_2.jpg" alt="...">
                <img (mouseover)="mouseover($event)" (mouseleave)="activar($event)" class="" src="./.././../../../../assets/Prendas/pecheras/pechera_1.jpg" alt="...">
                <img (mouseover)="mouseover($event)" (mouseleave)="activar($event)" class="" src="./.././../../../../assets/Prendas/pecheras/pechera_2.jpg" alt="...">
                <img (mouseover)="mouseover($event)" (mouseleave)="activar($event)" class="" src="./.././../../../../assets/Prendas/sombresos/sombrero1.jpeg" alt="...">
                <img (mouseover)="mouseover($event)" (mouseleave)="activar($event)" class="" src="./.././../../../../assets/Prendas/sombresos/sombrero.jpeg" alt="...">
                <img (mouseover)="mouseover($event)" (mouseleave)="activar($event)" class="" src="./.././../../../../assets/Prendas/pecheras/pechera_2.jpg" alt="..."> -->
            </div>

            <img (click)="btn_ringh()" id="slideRight" class="arrow" src="./../assets/arrow-right.png">
        </div>
    </div>


</div>