body {
    padding-top: 100px;
}

.sliderAll {
    font-size: 26px;
    position: absolute;
    color: white;
    cursor: pointer;
}

#content-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.column {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#imgPrincipal {
    width: 100%;
    height: 300px;
    max-width: 500px;
    max-height: 600px;
    object-fit: cover;
    cursor: pointer;
    padding-bottom: 5px;
    border-radius: 8px 8px 0px 0px;
}

.slider {
    width: 100%;
    img {
        object-fit: cover;
        max-width: 180px;
        max-height: 100px;
        cursor: pointer;
        opacity: 0.5;
        margin: 5px;
        border: 2px solid rgba(239, 241, 245, 0.144);
        border-radius: 5px;
    }
    img:hover {
        opacity: 1;
    }
    .active {
        opacity: 1;
    }
}

#slide-wrapper {
    position: relative;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(37, 51, 110, 1) 0%, rgba(160, 160, 224, 1) 13%, rgba(241, 241, 241, 1) 33%, rgba(248, 248, 255, 1) 69%, rgba(146, 217, 228, 1) 87%, rgba(41, 64, 128, 1) 100%);
    max-width: 500px;
    width: 100%;
    display: flex;
    min-height: 100px;
    align-items: center;
}

#slideLeft,
#slideRight {
    color: white;
    position: absolute;
}

#slideRight {
    right: 0px;
}

.slider {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

#slider::-webkit-scrollbar {
    width: 8px;
}

#slider::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

#slider::-webkit-scrollbar-thumb {
    background-color: #dede2e;
    outline: 1px solid slategrey;
    border-radius: 100px;
}

#slider::-webkit-scrollbar-thumb:hover {
    background-color: #18b5ce;
}

.arrow {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: .3s;
}

.arrow:hover {
    opacity: .5;
    width: 35px;
    height: 35px;
}

@media screen and (max-width: 1094px) {
    #content-wrapper {
        flex-direction: column;
    }
}

@media screen and (max-width: 991px) {
    .column {
        padding: 5px;
    }
}