/* You can add global styles to this file, and also import other style files */


/* @import url('https://fonts.googleapis.com/css2? familia= Merienda & display=swap'); */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}