<!-- <h1 class="a" style="--mx-ancho: 40px;">hola mundo</h1> -->
<header class="container-fluid">
    <nav class="navbar navbar-dark bg-primary d-flex justify-content-between  w-100  py-2 border border-0 border-bottom-1  ">
        <section class="icon-logo d-flex">
            <div class="align-self-start"><img (click)="cambiarPage('home')" src="../../../assets/menu/olp.jpg" alt=".." width="50"></div>
        </section>

        <!--  <section class="buscador ">
            <article class="form-outline">
                <input id="search-focus" type="search" id="form1" class="form-control" />
            
            </article>
            <button type="button" class="btn btn-primary btn-buscar">
                <i class="bi bi-search"></i>
            </button>
        </section> -->

        <section class="nav directivas">
            <article class="icon-resp d-flex  ">
                <div (click)="onclickResposil($event)" class="icon-resp_click">
                    <i class=" bi bi-list-ul"></i>
                    <!-- <i *ngIf="!on" class=" bi bi-x-circle"></i> -->
                </div>
                <!--  -->
            </article>



            <article class="direc-menu w-100" [ngClass]="mostrarMenu">
                <article class="icon-resp_off">
                    <div>
                        <i class=" bi bi-x-circle" (click)="onclickResposil($event)"></i>
                    </div>
                </article>
                <ul class="nav  nav-tabs flex">
                    <li class="nav-item" (click)="cambiarPage('home')">
                        <a class="nav-link btn-outline-light  " [ngClass]="activo[0]" aria-current="page">Home </a>
                    </li>
                    <li class="nav-item" (click)="cambiarPage('nosotros')">
                        <a class="nav-link btn-outline-light  " [ngClass]="activo[1]" [routerLinkActive]="'/nosotros'">Sobre nosotros </a>
                    </li>
                    <li class="nav-item" (click)="cambiarPage('contacto')">
                        <a class="nav-link btn-outline-light " [ngClass]="activo[2]">contacta con nosotros</a>
                    </li>
                    <!--  <li class="nav-item" (click)="cambiarPage('pregunta')">
                        <a class="nav-link btn-outline-light " [ngClass]="activo[3]" tabindex="-1" aria-disabled="true" disabled> Preguntas mas Frecuentes</a>
                    </li> -->

                    <!--   <li class="nav-item">
                                <a class="nav-link btn-outline-light disabled" tabindex="-1" aria-disabled="true">Promociones</a>
                            </li> -->
                    <!-- <li class="nav-item dropdown" (click)="cambiarPage('marcas')">
                        <a class="nav-link dropdown-toggle btn-outline-light" [ngClass]="activo[3]" data-bs-toggle="dropdown" role="button" aria-expanded="false">
                            categorias
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item btn-outline-danger">marca 1</a></li>
                            <li><a class="dropdown-item btn-outline-danger">marca 2</a></li>
                            <li><a class="dropdown-item btn-outline-danger">marca 3</a></li>
                            <li><a class="dropdown-item btn-outline-danger">marca 4</a></li>
                            <li><a class="dropdown-item btn-outline-danger">marca 5</a></li>

                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item btn-outline-primary">marca -1</a></li>
                        </ul>
                    </li> -->
                    <!--   <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-light" type="submit">Buscar</button>
                    </form> -->
                </ul>
            </article>


        </section>

    </nav>
</header>