<section class="principal">
    <article class="img-producto col-12 col-lg-4">
        <app-slider [myDetalles]="card.caracteristicas?.img"></app-slider>
    </article>

    <article class="producto col-12 col-lg-6 ">
        <aside>
            <h2>{{card.tittle}}</h2>
            <h3 class="precio">Precio :
                <em>$ {{card.price}}</em>
                <samp>$ {{(card.price*card.discount/100)+card.price}}</samp>
            </h3>

            <div class="stock ">
                <em> <i class="bi bi-check-circle-fill"></i> En stock </em>
                <samp>
                     Ventas Exitosas:
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-half"></i>
                <i class="bi bi-star"></i>
                <i class="bi bi-star"></i>
                </samp>

            </div>

            <section class="row px-3 select-talle-color">
                <article class="col-6 ">
                    <span class="subtitle">Talle</span>
                    <select class="form-select" aria-label="Default select example">
                        <option selected disabled>Seleccione el Talle</option>
                        <option *ngFor="let item of talle" value="{{item}}"> {{item}}</option>
                        <!-- <option value="1">s</option>
                        <option value="2">L</option>
                        <option value="3">M</option>
                        <option value="4">XL</option>
                        <option value="5">XxL</option> -->
                    </select>
                </article>

                <article class="col-6 d-block">
                    <span class="subtitle">color</span>
                    <select class="form-select" aria-label="Default select example">
                        <option selected disabled>Seleccione el Color</option>
                        <option *ngFor="let item of color" value="{{item}}"> {{item}}</option>
                       <!--  <option value="1">Rojo <samp class="color"></samp></option>
                        <option value="2">azul <samp class="color"></samp></option>
                        <option value="3">Verde <samp class="color"></samp></option>
                        <option value="4">Marron <samp class="color"></samp> </option>
                        <option value="5">amarillo <samp class="color"></samp></option> -->
                    </select>
                </article>
            </section>

            <section class="cantidad">
                <article>
                    <span>Cantidad:</span>
                    <input type="number" name="cantidad" step="1" min="1" max="100" value="1" placeholder="ingrese un numero">
                </article>
            </section>

            <section class="redes-sociales">
                <p>Siguenos en nuetras Redes sociales:</p>
                <h5> <i class="bi bi-facebook"></i>
                    <i class="bi bi-twitter"></i>
                    <i class="bi bi-instagram"></i>
                    <i class="bi bi-whatsapp"></i>
                </h5>
            </section>

            <section class="okcomprar">
                <button> <i class="bi bi-cart-plus-fill"></i> Añadir al Carrito</button>
                <button> <i class="bi bi-bag-plus-fill"></i> Comprar ahora</button>
            </section>
        </aside>
    </article>

    <article class="venta-Mayor col-12 col-lg-2">
        <h3 class="text-center fw-bold mt-3 fs-2">Ventas por mayor</h3>
        <div class="descuentos">

            <table class="table table-hover">

                <thead style="background-color: rgba(79, 136, 6, 0.808); color: blanchedalmond;">
                    <tr class="text-center">
                        <th> <i class="bi bi-tags"></i> Cantidad</th>
                        <th> <i class="bi bi-percent "></i> Descuentos</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>10+ </td>
                        <td>5%</td>
                    </tr>
                    <tr>
                        <td>20+ </td>
                        <td>10%</td>
                    </tr>
                    <tr>
                        <td>30+ </td>
                        <td>15%</td>
                    </tr>
                    <tr>
                        <td>40+ </td>
                        <td>25%</td>
                    </tr>
                </tbody>
            </table>
        </div>


    </article>

</section>

<!-- <section class="carrucel">

</section> -->



<section class="detalles">
    <article class="row m-0" style="min-height:300px; max-height:auto;">
        <div class="col-12 col-md-7 mx-auto ">
            <ul class="nav nav-tabs nav-pills mb-3 justify-content-center" id="myTab1" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="home-tab1" data-bs-toggle="tab" href="#Principal" role="tab" aria-controls="home" aria-selected="true">Principal</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="profile-tab1" data-bs-toggle="tab" href="#Descripción" role="tab" aria-controls="profile" aria-selected="false">Descripción</a>
                </li>
                <!-- <li class="nav-item" role="presentation">
                    <a class="nav-link" id="contact-tab1" data-bs-toggle="tab" href="#Comentarios" role="tab" aria-controls="contact" aria-selected="false">Comentarios</a>
                </li> -->
            </ul>
            <div class="row col-12 d-flex ">
                <div class=" col tab-content align-items-center" id="myTabContent1">

                    <div class="tab-pane fade show active  mx-auto " style="width: 95%; " id="Principal" role="tab" aria-labelledby="home-tab1">
                        <article class="w-100">
                            <table class="table w-75 mx-auto">
                                <thead>
                                    <tr>
                                        <th scope="col">Caracteristicas</th>
                                        <th scope="col"> Detalles</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of card.caracteristicas?.detalles; let index as i;">
                                        <th scope="row">{{item.name}}</th>
                                        <td> {{item.value}}</td>
                                    </tr>

                                </tbody>
                            </table>
                        </article>
                    </div>

                    <div class="tab-pane fade  mx-auto w-75" id="Descripción" role="tab" aria-labelledby="profile-tab1" style="max-height: 500px;">
                        <section>
                            <article *ngFor="let item of card.Descripcion; index as i;">
                                <h3 class="fw-bold m-0">{{item.name}}</h3>
                                <p>{{item.value}}</p>

                            </article>

                            <!-- <p>Sombrero en lana confort (suave) con la capacidad de recuperar su forma después de doblarse. Toquilla en cuero recuperado con aplicación de cristales y herrajes plata. Cinta acolchonada en el interior.
                                <br> <strong>Diametro: 35.5cm // Altura: 11.5cm</strong>
                            </p> -->

                            <!-- <h3 class="fw-bold">{{item.name}}</h3>
                            <p>{{item.value}}</p> -->

                        </section>
                    </div>

                    <!--  <div class="tab-pane fade  mx-auto w-75 d-flex flex-column" id="Comentarios" role="tab" aria-labelledby="contact-tab1">
                        <h3 class="text-center">Dejanos alguna opinion personal</h3>
                        <p>Puntuaciones y Opiniones</p>
                        <section class="d-flex justify-content-between ">
                            <div class="col-4 d-flex border border-1 align-items-center  p-1">
                                <article class="h-auto">
                                    <span class="fw-bold fz-6">4.4</span>
                                    <br>
                                    <span class="d-flex justify-content-around w-100">
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                    </span>
                                </article>
                                <aside class="col">

                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </aside>
                            </div>
                            <div class="col">
                                <textarea name="contenido " id="comentario" cols="20" rows="5"></textarea>
                            </div>
                        </section>
                    </div>

 -->
                </div>
            </div>
        </div>
        <div class="col-12 col-md-5 mapa pb-3 ">
            <a href="https://goo.gl/maps/aPgSiPeb1PTWNGhH9" target="_blank">
                <img src="./../../../../assets/mapa.jpeg" class="w-100" alt="...">
            </a>
        </div>
    </article>
</section>