img {
    width: 40%;
}

.glider {
    //overflow: hidden;
    width: auto !important;
    article {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        border: 1px solid blue;
        width: 2000px !important;
        padding: 0;
        margin: 0;
    }
    img {
        width: 1000px;
    }
}

.color {
    padding: 15px;
    margin: 10px;
    border-radius: 50%;
    background-color: red;
    display: inline-block;
    cursor: pointer;
}

.color:nth-child(1) {
    background-color: red;
}

.color:nth-child(2) {
    background-color: blue;
}

.color:nth-child(3) {
    background-color: green;
}

.color:nth-child(4) {
    background-color: brown;
}

.color:nth-child(5) {
    background-color: black;
}

.color:nth-child(6) {
    background-color: chartreuse;
}

.principal {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 80px 0px;
    article {
        // border: 1px solid blue;
        display: flex;
        justify-content: center;
    }
    article:nth-child(1) {
        flex-direction: column;
        div {
            width: 100%;
            img {
                width: 100%;
                height: auto;
            }
        }
        aside {
            display: flex;
            img {
                margin-left: 0px;
                margin-right: 5px;
                width: 100px;
                height: 100px;
            }
        }
    }
    article:nth-child(2) {
        aside {
            width: 80%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            h2 {
                font-size: 36px;
                font-weight: 600;
                color: rgb(55, 55, 55);
            }
            h3 {
                em {
                    font-size: 25px;
                }
            }
            .stock {
                margin-bottom: 1em;
                font-weight: normal;
                width: 100%;
                max-width: 550px;
                color: rgb(85, 85, 85);
                display: flex;
                justify-content: space-between;
                em {
                    border: 1px solid red;
                    border-radius: 20px;
                    color: white;
                    background-color: green;
                    padding: .5em .9rem;
                    // margin-right: 5rem;
                    margin-top: 0px;
                    i {
                        color: rgb(204, 204, 0);
                    }
                }
                i {
                    font-size: x-large;
                    color: rgb(204, 204, 0);
                    cursor: pointer;
                }
                i:hover {
                    color: blue;
                }
            }
            .select-talle-color {
                margin-top: 1em;
                margin-bottom: 1em;
            }
            article {
                span {
                    font-size: 18px;
                }
                select {
                    margin-top: 10px;
                    padding: 1rem 2rem 1rem .7rem;
                    font-size: 15px;
                    option {
                        color: red;
                        font-size: 18px;
                    }
                }
            }
        }
        .cantidad {
            padding-left: 3%;
            article {
                span {
                    font-size: 18px;
                }
                input {
                    margin-top: 10px;
                    width: 50%;
                    padding: 1rem 2rem 1rem .7rem;
                }
            }
        }
        .redes-sociales {
            margin-top: 2em;
            margin-bottom: 1em;
            p {
                font-size: 18px;
                margin-bottom: 1em;
            }
            h5 {
                width: 100%;
                display: flex;
                justify-content: space-around;
                i {
                    font-size: 35px;
                    cursor: pointer;
                }
                i:first-child {
                    color: blue;
                }
                i:nth-child(2) {
                    color: rgb(20, 19, 83);
                }
                i:nth-child(3) {
                    color: red;
                }
                i:last-child {
                    color: green;
                }
            }
        }
        .precio {
            em {
                margin-right: 20px;
                font-weight: bold;
                color: #000;
            }
            samp {
                text-decoration: line-through;
                color: red;
            }
        }
        .okcomprar {
            button {
                width: 50%;
                height: 45px;
                font-size: 20px;
                border-radius: 25px;
                padding: 5px 30px;
                background-color: green;
                color: white;
            }
            button:hover {
                background-color: white;
                color: green;
                font-weight: bold;
            }
        }
    }
}

.detalles {}

.venta-Mayor {
    background-image: url("https://www.societicbusinessonline.com/wp-content/uploads/2014/07/cupones-descuento.jpg");
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start !important;
    .descuentos {
        margin-top: 1em;
        background-color: rgba(192, 235, 192, 0.822);
        h3 {
            text-align: center;
        }
        table {
            tbody {
                tr {
                    font-weight: bold;
                }
            }
        }
    }
}

.carrucel {
    position: relative;
    background-color: rgb(247, 247, 247);
    padding: 43px 0;
}

.nav-link:hover,
.nav-item:hover {
    border-radius: 25px !important;
    color: white !important;
    background-color: blue !important;
}

.nav-link {
    height: auto;
    color: black !important;
    background-color: white !important;
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 34px;
}

#myTab1 .active:hover {
    color: white !important;
    border-top: 2px solid blue !important;
    border-left: 2px solid blue !important;
    border-right: 2px solid blue !important;
    border-radius: 9px 8px 0px 0px !important;
}

#myTab1 .active {
    font-style: italic;
    color: blue !important;
    font-weight: bold;
    border-top: 2px solid blue !important;
    border-left: 2px solid blue !important;
    border-right: 2px solid blue !important;
    border-radius: 9px 8px 0px 0px;
}

.tab-content>.active {
    display: flex !important;
}

.fz-6 {
    font-size: 40px;
}

.progress {
    margin-bottom: .5em;
}

.tab-pane {
    max-height: 300px;
}

.mapa {
    a img {
        border-radius: 10px;
        border: 1px solid rgba(95, 95, 190, 0.253);
    }
}

//----------------------------------------------------------------------------
@media only screen and (max-width: 1283px) {
    .principal {
        article:nth-child(1) {
            padding: 0 1em;
            img {
                width: 100%;
                height: auto;
                max-width: 559px;
                max-height: 320px;
            }
        }
        article:nth-child(2) {
            justify-content: space-between;
            padding: 0 5%;
            aside {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                h2 {
                    font-size: 20px;
                    font-weight: 600;
                    color: rgb(55, 55, 55);
                }
                h1 {
                    font-size: 32px;
                    font-weight: 600;
                    letter-spacing: -0.15px;
                }
                p {
                    width: 100%;
                }
            }
        }
    }
}

@media only screen and (max-width: 991px) {
    .principal {
        article:nth-child(2) {
            padding: 0 10%;
        }
        .venta-Mayor {
            margin-top: 20px;
        }
    }
}

@media only screen and (max-width: 767px) {
    .principal {
        padding-top: 40px;
        padding-bottom: 38px;
        article:nth-child(1) {
            padding: 0 0em;
            padding-bottom: 42px;
            img {
                width: 100%;
                height: auto;
                max-width: 559px;
                max-height: 320px;
            }
        }
        article:nth-child(2) {
            aside {
                h2 {
                    text-align: center;
                }
                h1 {
                    text-align: center;
                    line-height: 1.4;
                }
                p {
                    margin-top: 10px;
                    width: 100%;
                }
            }
            .select-talle-color {
                padding-left: 0px;
                flex-direction: column;
                article {
                    padding-left: 0px;
                    padding-right: 0px;
                    width: 100%;
                    select {
                        width: 100%;
                    }
                }
            }
            .cantidad {
                padding-top: 15px;
                padding-left: 0px;
                flex-direction: column;
                article {
                    padding-left: 0px;
                    padding-right: 0px;
                    input {
                        width: 100%;
                    }
                }
            }
            aside {
                h2 {
                    font-size: 30px !important;
                }
                .stock {
                    flex-direction: column !important;
                    em {
                        width: 150px !important;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 400px) {
    .principal {
        article:nth-child(1) {
            img {
                width: 100%;
                height: auto;
            }
        }
        article:nth-child(2) {
            aside {
                h2 {
                    text-align: start;
                }
                h1 {
                    text-align: start;
                    font-size: 32px;
                    font-weight: 600;
                    letter-spacing: -0.15px;
                }
                p {
                    width: 100%;
                }
                @media only screen and (max-width: 353px) {
                    h1 {
                        font-size: 25px;
                    }
                    p {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}