<div class="col-12">
    <ul class="nav nav-tabs nav-pills mb-3 justify-content-between" id="myTab2" role="tablist">
        <li class="nav-item disabled col-2" role="presentation">
            <a class="nav-link disabled " data-bs-toggle="tab" role="tab" aria-selected="true"></a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="h1" href="#h" role="tab" aria-controls="h" data-bs-toggle="tab" role="tab" aria-selected="true">
                Hombre
            </a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="m1" href="#m" role="tab" aria-controls="m" data-bs-toggle="tab" role="tab" aria-selected="false">
                Mujer
            </a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="n1" href="#n" role="tab" aria-controls="n" data-bs-toggle="tab" role="tab" aria-selected="false">
                Niño/a
            </a>
        </li>
    </ul>
    <div class="row col-12 d-flex ">
        <div class=" col tab-content align-items-center" id="myTabContent2">
            <div class="rew col-12 d-flex align-items-start" id="h" aria-labelledby="h1">
                <div class="col-3 nav flex-column nav-pills me-3" id="detall1" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="t1" data-bs-toggle="pill" href="#ts" role="tab" aria-controls="v-pills-home" aria-selected="true">Talle: S</a>
                    <a class="nav-link" id="ht2" data-bs-toggle="pill" href="#htl" role="tab" aria-controls="v-pills-profile" aria-selected="false">Talle: L</a>
                    <a class="nav-link" id="ht3" data-bs-toggle="pill" href="#htm" role="tab" aria-controls="v-pills-messages" aria-selected="false">Talle: M</a>
                    <a class="nav-link" id="ht4" data-bs-toggle="pill" href="#htxl" role="tab" aria-controls="v-pills-settings" aria-selected="false">Talle: XL</a>
                </div>
                <div class="col-8 tab-content">
                    <div class="tab-pane fade" id="hts" role="tab" aria-labelledby="ht2"> talle h s</div>
                    <div class="tab-pane fade" id="htl" role="tab" aria-labelledby="ht2">talle h l</div>
                    <div class="tab-pane fade" id="htm" role="tab" aria-labelledby="ht2"> talle h m</div>
                    <div class="tab-pane fade" id="htxl" role="tab" aria-labelledby="ht2"> talle h xl</div>

                </div>
            </div>

        </div>
    </div>

</div>